<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>About the Conference</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>
<body>
  <ul>
    <li><a href = "/about">About</a></li>
    <li><a href = "/register">Register</a></li>
    <li><a href = "/checkStatus">Check/Edit Status</a></li>
    <li><a href = "/adminLogin">Admin Login</a></li>
  </ul>
<h1 style="text-align:center"> About the Conference - October 8th</h1>
<br/>
<p style="text-align:center">something something. </p>
</body>
</html>
